<app-header></app-header>
<div class="ng-container-fluid">
    <div class="row">
        <div class="col-3" style="padding-right: 0;">
            <app-menu></app-menu>
        </div>
        <div class="col-9" style="padding-left: 0;">
            <app-content></app-content>
        </div>
    </div>
</div>
<app-footer></app-footer>