menu {
    .menu1 {
        background-color: yellowgreen;
        height: 500px;
        width: 100%;
        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid black;
            &:hover a {
                color: red;
            }
        }
    }
}