<menu>
    <div class="menu1">
        <h2>MENU</h2>
        <ul>
            <li><a routerLink="#"> menu 1</a></li>
            <li><a routerLink="#"> menu 2</a></li>
            <li><a routerLink="#"> menu 3</a></li>
            <li><a routerLink="#"> menu 4</a></li>
        </ul>
    </div>
</menu>